@page "/studio"

<div class="row border border-info">
    <div class="col">
        <h1 class="text-info"> Developer Studios</h1>
    </div>
     <div class="col-3 text-right">
        <NavLink class="btn btn-info mt-2" href="studio/create">Create New Studio</NavLink>
    </div>
</div>



@code {

}
