
<EditForm Model="Developer" OnValidSubmit="OnValidSubmitHandler">
    <div class="form-group">
        <label>Developer Name: </label>
        <div>
            <InputText class="form-control" @bind-Value="Developer.Name" />
            <ValidationMessage For="(()=> Developer.Name)" />
        </div>
    </div>

    <!--ToDo: Image loading field-->
    <ImageInput Label="Image" OnImageFileSelected="ImageFileSelectedHandler" ImageUrl="@imageUrl"/>
    <button type="submit" class="btn btn-outline-primary">Create New Studio</button>
</EditForm>

@code {
    [Parameter] public GameDeveloper Developer { get; set; }
    [Parameter] public EventCallback OnValidSubmitHandler { get; set; }
    string imageUrl;
    protected override void OnInitialized()
    {
        imageUrl = Developer.Image;
        Developer.Image = null;
    }
    void ImageFileSelectedHandler(string imageBase64)
    {
        Developer.Image = imageBase64;
        imageUrl = null;
    }
}
