@using System.Linq.Expressions
@inherits InputTextArea

@typeparam TValue

<div class="row">
    <div class="col">
        <label class="">@Label</label>
        <div>
                @*<InputTextArea  @bind-Value="CurrentValue" />*@
                <textarea @bind-value="CurrentValue"@bind-value:event="oninput"> </textarea>
                <ValidationMessage For="OnFor"/>
       </div>
    </div>
    <div class="col">
        <label class="">@Label (Preview)</label>
        <div class="container-markdown">
            <MarkDownRenderer MarkDownContent="@CurrentValue"/> 
       </div>
    </div>
</div>

@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public Expression<Func<TValue>> OnFor { get; set; }



    
}
