<div class="row">
    <div class="col text-center" style="height:500px">
        <img src="https://img.freepik.com/free-vector/glitch-error-404-page_23-2148105404.jpg?w=2000"  class="h-100" />
    </div>
</div>
    
@code {

}
